/* Utilities */
/* Spaces are only for separator preview */
.space {
  height: 40px;
  background: #e5e5e5;
  font-size: 20px;
  font-weight: 500;
  color: #0d6efd;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background: #fff;
}

/* Links */
a {
  color: #18a0fb;
}

/* Buttons */
.btn {
  padding: 8px 34px;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  font-size: 15px;
}

.btn-primary {
  background: #18a0fb;
}

.btn-outline-primary {
  padding: 8px 42px;
  color: #18a0fb;
}

.btn-sm {
  padding: 8px 22px;
}

.btn-lg {
  padding: 12px 51px;
  font-size: 17px;
}

.btn-play {
  width: 132px;
  height: 132px;
}

.btn-play-triangle {
  transform: translate(-45%, -50%) !important;
}

.btn-play-small {
  width: 70px;
  height: 70px;
}

.btn-play-small-triangle {
  width: 22px;
  height: 24px;
  transform: translate(-45%, -50%) !important;
}

/* Images & Videos */
.hero-small-video {
  max-width: 296px;
  max-height: 211px;
}

.body-ellipse-small-img {
  max-width: 44px;
  max-height: 44px;
}

.body-ellipse-medium-img {
  max-width: 108px;
  max-height: 108px;
}

.body-ellipse-img {
  max-width: 200px;
  max-height: 200px;
}

/* Forms & Inputs */
.hero-form {
  max-width: 622px;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.form-control {
  padding: 8px 14px;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

/* Navigation */
.nav-link {
  font-weight: 500;
}

/* Hero */
.hero-top-el {
  padding: 144px 0 114px 144px;
}

.hero-bg-img {
  background: url("../img/hero/hero_3.png") no-repeat center/100% 100%;
}

/* Body */
.card {
  min-width: 300px;
}

.card-body {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Sub-page Hero */
.sub-hero-top-el {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.sub-hero-bg-img {
  height: 64vh;
  background: url("../img/sub-page_hero/sub-page_hero-3.png") no-repeat
    center/100% 100%;
}

/* Mobile */
@media (max-width: 756px) {
  .vh-100 {
    height: auto !important;
  }

  .row-cols-2 > * {
    width: 100%;
  }

  .hero-top-el {
    padding: 48px;
  }

  .btn-play {
    width: 70px;
    height: 70px;
  }

  .btn-play-triangle {
    width: 22px;
    height: 24px;
  }

  .hero-form {
    margin: 0 !important;
    padding: 16px !important;
  }

  form {
    margin: 0 !important;
  }

  /* Hero-5 optimized height */
  .h-100 .btn-play {
    margin-top: 48px;
    position: static !important;
    transform: none !important;
  }

  .body-ellipse-img {
    max-width: 108px;
    max-height: 108px;
  }
}

/* Mobile Landscape */
@media (max-height: 376px) {
  h1.mb-5 {
    margin-bottom: 0.5rem !important;
  }

  .btn-play {
    width: 70px;
    height: 70px;
  }

  .btn-play-triangle {
    width: 22px;
    height: 24px;
  }

  .hero-form {
    padding: 16px !important;
  }

  /* Hero-5 optimized height */
  .body-bottom-el-mq {
    height: auto !important;
  }

  .body-bottom-el-mq .mb-5.p-5 {
    margin-bottom: 0 !important;
    padding: 32px 48px !important;
  }

  .h-100 .btn-play {
    margin-top: 48px;
    position: static !important;
    transform: none !important;
  }

  /* Hero-7 small-video flex */
  .small-video-row-mq {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .hero-small-video img {
    width: auto !important;
  }

  .col.p-5 div.mb-5 {
    margin-bottom: 0 !important;
    padding-right: 16px;
    width: 100%;
  }

  .body-ellipse-img {
    max-width: 108px;
    max-height: 108px;
  }
}
