* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: #000;
}

.exercise {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Exercise 1 */
.margin:before,
.border:before,
.padding:before,
.content:before {
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  width: 100%;
  top: 0.625rem;
  left: 0;
  position: absolute;
}

.margin,
.border,
.padding,
.content {
  padding: 2.813rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.margin {
  background: #f1f1f1;
  border: 0.125rem dashed #bbbbbb;
}

.margin:before {
  content: "Margin";
}

.border {
  background: #4caf50;
}

.border:before {
  content: "Border";
}

.padding {
  background: #f1f1f1;
}

.padding:before {
  content: "Padding";
}

.content {
  background: #fff;
  border: 0.125rem dashed #bbbbbb;
  min-height: 17.4vh;
}

.content:before {
  content: "Content";
  top: 42%;
}

/* Exercise 2 */
.main div {
  background: yellow;
}

header,
footer {
  height: 100px;
}

.block2:hover,
.block3:hover {
  background: green;
}

.block1:hover {
  background: black;
  color: #fff;
}

.entity {
  height: 50px;
}

#hero {
  height: 200px;
}

/* Exercise 3 */
.lemon {
  width: 400px;
  height: 300px;
  background: linear-gradient(to left top, #ffff00, #ffff9a);
  border-radius: 50% 60% 60% 50%;
  box-shadow: inset 10px -60px 87px -10px rgb(0 0 0 / 35%),
    30px 60px 74px 30px rgb(0 0 0 / 30%);
  position: relative;
}

.lemon:before,
.lemon:after {
  content: "";
  background: inherit;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.lemon:before {
  box-shadow: inset 10px -60px 87px -10px rgb(0 0 0 / 18%);
  width: 175px;
  height: 100px;
  top: 33%;
  left: -35px;
}

.lemon:after {
  height: 105px;
  width: 80px;
  top: 32%;
  right: -18px;
}

/* Exercise 4 */
.bg-ta {
  background: #3c64c2;
  text-align: center;
}

.exercise h2 {
  margin-bottom: 40px;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 7px;
  color: #fff;
}

.btn-start {
  background: #ffd500;
  width: 245px;
  height: 70px;
  border-radius: 35px;
  font-size: 28px;
  font-weight: 700;
  transition: box-shadow 1s;
}

.btn-start:hover,
.btn-start:focus {
  box-shadow: inset rgb(0 0 0 / 50%) 0px 0px 20px 0px,
    rgb(0 0 0 / 45%) 0px 0px 75px 26px;
}

/* Exercise 5 */
.form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form h3 {
  margin-bottom: 30px;
  font-size: 35px;
}

.form label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.form input {
  margin-bottom: 20px;
  padding: 10px;
  height: 60px;
  font-size: 25px;
  outline: none;
}

.form input:hover,
.form input:focus {
  border: 1px solid #5788fa;
  border-radius: 2px;
}

.btn-form {
  background: #6400e4;
  height: 60px;
  border-radius: 2px;
  font-size: 25px;
  color: #fff;
  transition: background 1s;
}

.btn-form:hover,
.btn-form:focus {
  background: #d600e4;
}
