* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 13.5px;
  max-width: 370px;
}

.search-content {
  margin-top: 30px;
}

.search {
  font-family: "Comfortaa", cursive;
  font-size: 36px;
  font-weight: 400;
}

.search input {
  width: 100%;
  height: 52px;
  margin-top: 32px;
  padding: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid #000;
  outline: none;
}

.result-text {
  margin-top: 32px;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
}

.results {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results img {
  margin-top: 11px;
}

.btn {
  width: 100%;
  height: 52px;
  background: transparent;
  margin-top: 32px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1.5s ease;
}

.btn:hover {
  background: #000;
  color: #fff;
}

/* Laptop */
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }

  .results img {
    width: 304px;
    height: auto;
  }
}
