* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container-header {
  margin: 0 auto;
  width: 755px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-main {
  margin: 0 auto;
  max-width: 755px;
  height: 1500px;
  background: #c4c4c4;
}

.header {
  height: 103px;
  margin-left: -377.5px;
  border-bottom: 1px solid #000;
  display: flex;
  top: 0;
  left: 50%;
  position: fixed;
}

.header img {
  width: 50px;
  height: 50px;
}

.logo {
  margin-left: 33px;
  display: inherit;
  align-items: inherit;
}

.logo h1 {
  margin-left: 31px;
  font-size: 15px;
  font-weight: 400;
}

.pics-group {
  width: 190px;
  display: inherit;
  justify-content: inherit;
  top: 53px;
  right: 45px;
  position: relative;
}
